main {
    margin: 50px 0 0 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}
button {
    color: rgb(196, 184, 172);
    background-color: transparent;
    display: block;
    padding: 5px;
    margin: 20px;
    width: 200px;
    border: 1px solid rgb(200,184,172);
    border-radius: 10px;
}
button:hover {
    background-color: aliceblue;
    color: saddlebrown;
}
body {
    margin: 0px;
    background-color: #36393e;
    color: gray;
}

img {
    border: 1px solid snow;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
}


